
	<p id="points" style="display: none" class=" bg-success">
		Points used : 100 </br> Points Left : 50
	</p>

	
	<div id="teamSelector" class="wrapper">
		<div class="post">
			<div>Team1 (Select Players)</div>
			<div ng-repeat="x in team1.players" class="bg-info">

				<button  id="playerButton" class="bg-success col-sm-4"
					ng-click="select(x.name, x.id); x.selected=true" ng-disabled="x.selected">
					{{x.name}} , {{ x.playerType}}</button>
				<button ng-show="x.selected" ng-disabled="captainSelectedFlag || x.isViceCaptain"  ng-class="{'bg-danger': x.isCaptain == true}"  ng-click="x.isCaptain=true; captainSelected()">Captain</button>
				<button ng-show="x.selected" ng-disabled="viceCaptainSelectedFlag || x.isCaptain" ng-class="{'bg-primary': x.isViceCaptain == true}"  ng-click="x.isViceCaptain=true; viceCaptainSelected()"> Vice Captain</button>
			</div>
		</div>

		<div class="post">
			<div>Team2 (Select Players)</div>
			<div ng-repeat="x in team2.players" class="bg-info">

				<button id="playerButton" class="bg-success col-sm-4"
					ng-click="select(x.name, x.id); x.selected=true" ng-disabled="x.selected">
					{{ x.name}} , {{ x.playerType}}</button>
				<button  ng-show="x.selected" ng-disabled="captainSelectedFlag || x.isViceCaptain"  ng-class="{'bg-danger': x.isCaptain == true}"  ng-click="x.isCaptain=true; captainSelected()">Captain</button>
				<button  ng-show="x.selected" ng-disabled="viceCaptainSelectedFlag || x.isCaptain" ng-class="{'bg-primary': x.isViceCaptain == true}"  ng-click="x.isViceCaptain=true; viceCaptainSelected()"> Vice Captain</button>
			</div>

		</div>
	</div>
	
x

<button type="button" class="btn btn-primary btn-block" ng-click="saveTeam(); ">Proceed
		with this team</button>
<div>
	<div id="myteam" class="bg-success"> My team :</div>

	<div id="outer">
		<div id="team" style="display: inline-block">{{selectedPlayers[0].name}}</div>
		<div id="team" style="display: inline-block">{{selectedPlayers[1].name}}</div>
		<div id="team" style="display: inline-block">{{selectedPlayers[2].name}}</div>
		<div id="team" style="display: inline-block">{{selectedPlayers[3].name}}</div>
		<div id="team" style="display: inline-block">{{selectedPlayers[4].name}}</div>
		<div id="team" style="display: inline-block">{{selectedPlayers[5].name}}</div>
		<div id="team" style="display: inline-block">{{selectedPlayers[6].name}}</div>
		<div id="team" style="display: inline-block">{{selectedPlayers[7].name}}</div>
		<div id="team" style="display: inline-block">{{selectedPlayers[8].name}}</div>
		<div id="team" style="display: inline-block">{{selectedPlayers[9].name}}</div>
		<div id="team" style="display: inline-block">{{selectedPlayers[10].name}}</div>
	</div>
	
</div>	
